aenum==3.1.15
beautifulsoup4==4.12.3
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dbf==0.99.9
dbus-python==1.2.18
et-xmlfile==1.1.0
Flask==3.0.2
gpg==1.15.1
idna==3.6
importlib_metadata==7.0.2
itsdangerous==2.1.2
jdcal==1.4.1
Jinja2==3.1.3
libcomps==0.1.18
lxml==5.1.0
MarkupSafe==2.1.5
openpyxl==3.1.2
path==16.10.0
path.py==12.5.0
pillow==10.2.0
python-dateutil==2.8.1
requests==2.31.0
rpm==4.16.1.3
six==1.15.0
soupsieve==2.5
systemd-python==234
urllib3==2.2.1
Werkzeug==3.0.1
xmltodict==0.13.0
zc.buildout==3.0.1
zipp==3.18.0
